.Wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 68px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Heading {
  display: flex;
  align-items: center;
}

.Date {
  margin-top: 24px;
}

.Form {
  margin-top: 24px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CloseLink {
  text-decoration: none;
  color: #606060;
  font-size: 16px;
  padding: 10px;

  &:hover,
  &:focus {
    color: #0eaaa6;
  }
}

.Image {
  max-width: 100%;
}
