@import "../../../styles/variables";

.Notifications {
  max-height: 300px;
  overflow-x: scroll;
  padding: 10px;
}

@include breakpoint(medium) {
  .Notifications {
    padding: 10px;
    max-height: 500px;
  }
}
