@import "../../../styles/variables";

.Wrapper {
  //width: 100%;
}

.Notifications {
  max-height: 600px;
  overflow-x: scroll;
  padding: 10px;
}

@include breakpoint(medium) {
  .Notifications {
    padding: 10px;
  }
}
