.Button {
  padding: 12px 30px;
  background-color: #0eaaa6;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: white;
  }
}

.ButtonHollow {
  font-size: 16px;
  padding: 12px 30px;
  color: #0eaaa6;
  background-color: white;
  border: 2px soid #0eaaa6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ButtonText {
  font-size: 12px;
  padding: 12px 30px;
  color: white;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Link {
  text-decoration: none;

  &:visited {
    color: white;
  }
}
