@import "../../styles/variables.scss";

.Pill {
  background-color: $persian-blue;
  color: $white;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  flex-grow: 0;
}

.PillFollowUp {
  background-color: $pumpkin-orange;
}

.PillRepair {
  background-color: $mysin-orange;
}

.PillFixed {
  background-color: $niagra-green;
}
