.Pill {
  background-color: #ffbf43;
  color: white;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.PillFollowUp {
  background-color: #fd4247;
}

.PillRepair {
  background-color: #cef740;
}

.PillFixed {
  background-color: #2fb5b0;
}
