@import "../../styles/variables.scss";

.Dropzone {
  background-color: $white;
  color: $silver-grey;
  border: 2px dashed $silver-grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 5px 20px;
  margin-top: 10px;

  &:hover {
    border: 2px dashed $niagra-green;
    cursor: pointer;
  }
}

.Uploads {
  display: flex;
  flex-direction: column;
}

.Upload {
  width: 100%;
  justify-self: flex-start;
  color: $silver-grey;
  font-size: 12px;
}

.Check {
  color: $niagra-green;
  padding-right: 5px;
}
