.Home {
  width: 100%;
}

.Notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Notifications {
  margin-bottom: 36px;
}

.Greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Properties {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Property {
  padding: 10px;
}
