.TenantHome {
  width: 100%;
}

.Notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Notifications {
  margin-bottom: 20px;
}

.TenantGreeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
