$niagra-green: #0eaaa6;
$persian-blue: #2050b7;
$mysin-orange: #ffb015;
$pumpkin-orange: #ff7d15;
$white: #ffffff;
$porcelain-white: #e8eeef;
$aquahaze-grey: #f4f7f8;
$silver-grey: #bbbaba;
$regent-grey: #8a97a0;
$emperor-grey: #505050;
$mineshaft-grey: #202020;
