@import "../../styles/variables";

.Home {
  max-width: 1100px;
  margin: 24px auto;
}

.PropertiesGrid {
  margin-top: 24px;
}

.Subnav {
  background-color: $niagra-green;
  border-top: 1px solid white;
  &Content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
}

.NavButton {
  font-size: 12px;
  border: 0;
}

@include breakpoint(medium) {
  .PropertiesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@include breakpoint(large) {
  .Properties {
    grid-template-columns: repeat(2, 1fr);
  }
}
