.Heading,
.Text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
}

.HeadingLarge {
  margin-bottom: 20px;
}

.HeadingMedium,
.HeadingSmall {
  font-weight: 300;
  margin-bottom: 16px;
}

.Text {
  font-weight: 300;
}
