@import "../styles/variables";

body {
  margin: 0;
}

.AppWrapper {
  width: 100%;
}

.App {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  max-width: 1100px;
  margin: 24px auto;
}
