@import "../../styles/variables";

.Heading,
.Text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

.HeadingLarge {
  font-size: 22px;
}

.HeadingMedium {
  font-weight: 400;
  letter-spacing: 0.1px;
  font-size: 16px;
}

.HeadingSmall {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.HeadingXSmall {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.Text {
  font-weight: 300;
}

@include breakpoint(large) {
}
