@import "../../../styles/variables";

.TenantHome {
  width: 100%;
}

.Notifications {
  flex: 1;
}

.Greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GetHelp {
  width: 100%;
  margin: 10px 0;
}

@include breakpoint(medium) {
  .Greeting {
    flex-direction: row;
  }

  .GetHelp {
    max-width: 200px;
  }
}

@include breakpoint(large) {
  .Notifications {
    padding: 0;
  }

  .Property {
    width: 30%;
    margin-right: 24px;
  }

  .Dashboard {
    flex-direction: row;
  }
}
