@import "../../../styles/variables";

.Home {
  margin: 20px;
  width: 100%;
}

.Notifications {
  flex: 1;
}

.Greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.PropertyDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GetHelp {
  width: 100%;
  margin: 10px 0;
}

@include breakpoint(medium) {
  .Greeting {
    flex-direction: row;
  }

  .GetHelp {
    max-width: 200px;
  }
}

@include breakpoint(large) {
  .Notifications {
    padding: 0;
  }

  .PropertyDetails {
    flex-direction: row;
  }
}
