.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.App-message {
  margin-top: 100px;
  opacity: 0;
  color: #096a68;
}

.App-message--show {
  opacity: 1;
}
