.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-message {
  margin-top: 100px;
  opacity: 0;
  color: #096a68;
}

.App-message--show {
  opacity: 1;
}
