@import "../../styles/variables";

.Wrapper {
  text-decoration: none;
  color: $niagra-green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

.Link {
  text-decoration: none;
}
